    /* childcare/api/static/css/search_acc.css */

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        color: #333;
        margin-top: 20px;
    }

    .search-form {
        display: flex;
        justify-content: center;
        margin: 30px auto;
        width: 50%;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .search-form input[type="text"] {
        width: 80%;
        padding: 10px;
        margin-right: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .search-form button {
        padding: 10px 20px;
        border: none;
        color: white;
        background: #7faef0;
        cursor: pointer;
        border-radius: 5px;
    }

    .search-form button:hover {
        background: #6c72e3;
    }

    .account-list {
        width: 70%;
        margin: 30px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .account-list ul {
        list-style-type: none;
        padding: 0;
    }

    .account-list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f9f9f9;
        padding: 15px;
        margin: 10px 0;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .account-list li a {
        color: #3498db;
        text-decoration: none;
        margin-left: 10px;
    }

    .account-list li a:hover {
        color: #2980b9;
    }

    p {
        text-align: center;
        color: #555;
    }
